<?xml version="1.0"?>
<config>
	<modules>
		<DMC_Solr>
			<version>0.1.4</version>
		</DMC_Solr>
	</modules>

	<default>
		<solr>
			<general>
				<enable>1</enable>
				<debug>0</debug>
				<log>1</log>
        <enable_on_catalog>1</enable_on_catalog>
        <enable_on_search_result>1</enable_on_search_result>
			</general>
			<searcher>
				<fuzzy_enable>1</fuzzy_enable>
				<fuzzy_similarity_factor>0.8</fuzzy_similarity_factor>
			</searcher>
			<indexer>
				<reindex_category>0</reindex_category>
				<product_update>0</product_update>
			</indexer>
		</solr>
	</default>

	<global>
		<blocks>
			<solr>
				<class>DMC_Solr_Block</class>
			</solr>
			<adminhtml>
				<rewrite>
					<catalog_product_attribute_edit_tab_main>DMC_Solr_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tab_Main</catalog_product_attribute_edit_tab_main>
				</rewrite>
			</adminhtml>
		</blocks>

		<helpers>
			<solr>
				<class>DMC_Solr_Helper</class>
			</solr>
			<catalogsearch>
				<rewrite>
					<data>DMC_Solr_Helper_CatalogSearch_Data</data>
				</rewrite>
			</catalogsearch>
		</helpers>

		<resources>
			<solr_setup>
                <setup>
                    <module>DMC_Solr</module>
                </setup>
			</solr_setup>
		</resources>

		<index>
			<indexer>
				<solr_indexer>
					<model>solr/indexer</model>
					<!-- <depends>
						<cataloginventory_stock />
						<catalog_product_attribute />
						<catalog_product_price />
						<eav />
						<price />
						<tier_price />
						<minimal_price />
						<catalogsearch_fulltext />
						<tag_summary />
					</depends> -->
				</solr_indexer>
			</indexer>
		</index>
		<events>
			<catalog_product_save_commit_after>
				<observers>
					<solr_catalog_product_save_commit_after>
						<type>singleton</type>
						<class>DMC_Solr_Model_Observer</class>
						<method>catalog_product_save_commit_after</method>
					</solr_catalog_product_save_commit_after>
				</observers>
			</catalog_product_save_commit_after>
			<catalog_product_delete_before>
				<observers>
					<solr_catalog_product_delete_before>
						<type>singleton</type>
						<class>DMC_Solr_Model_Observer</class>
						<method>catalog_product_delete_before</method>
					</solr_catalog_product_delete_before>
				</observers>
			</catalog_product_delete_before>
			<catalog_entity_attribute_save_after>
				<observers>
					<solr_catalog_entity_attribute_save_after>
						<type>singleton</type>
						<class>DMC_Solr_Model_Observer</class>
						<method>catalog_entity_attribute_save_after</method>
					</solr_catalog_entity_attribute_save_after>
				</observers>
			</catalog_entity_attribute_save_after>
			<cms_page_save_after>
				<observers>
					<solr_cms_page_save_after>
						<type>singleton</type>
						<class>DMC_Solr_Model_Observer</class>
						<method>cms_page_save_after</method>
					</solr_cms_page_save_after>
				</observers>
			</cms_page_save_after>
			<cms_page_delete_before>
				<observers>
					<solr_cms_page_delete_before>
						<type>singleton</type>
						<class>DMC_Solr_Model_Observer</class>
						<method>cms_page_delete_before</method>
					</solr_cms_page_delete_before>
				</observers>
			</cms_page_delete_before>
		</events>
		<models>
			<cms>
				<rewrite>
					<page>DMC_Solr_Model_Cms_Page</page>
				</rewrite>
			</cms>
			<catalog>
				<rewrite>
				 
					<layer>DMC_Solr_Model_Catalog_Layer</layer>
					<layer_filter_price>DMC_Solr_Model_Catalog_Layer_Filter_Price</layer_filter_price>
					<layer_filter_attribute>DMC_Solr_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
				
					<product_type_configurable_price>DMC_Solr_Model_Catalog_Product_Type_Configurable_Price</product_type_configurable_price>
				</rewrite>
			</catalog>
			<catalogsearch>
				<rewrite>
					 
					<layer>DMC_Solr_Model_CatalogSearch_Layer</layer>
					<layer_filter_attribute>DMC_Solr_Model_CatalogSearch_Layer_Filter_Attribute</layer_filter_attribute>
					
					<advanced>DMC_Solr_Model_CatalogSearch_Advanced</advanced>
				</rewrite>
			</catalogsearch>
			<catalogsearch_mysql4>
				<rewrite>
					<advanced>DMC_Solr_Model_CatalogSearch_Mysql4_Advanced</advanced>
				</rewrite>
			</catalogsearch_mysql4>
			<cataloginventory>
				<rewrite>
					<observer>DMC_Solr_Model_CatalogInventory_Observer</observer>
				</rewrite>
			</cataloginventory>
			<solr>
				<class>DMC_Solr_Model</class>
				<resourceModel>solr_solrserver</resourceModel>
			</solr>
		</models>
		<rewrite>
			<solr>
				<from><![CDATA[#^/catalogsearch/ajax/suggest#]]></from>
				<to>/solr/index/livesearch</to>
			</solr>
		</rewrite>
		<solr_document_types>
			<product>
				<class>DMC_Solr_Model_SolrServer_Adapter_Product</class>
			</product>
			<cms>
				<class>DMC_Solr_Model_SolrServer_Adapter_Cms</class>
			</cms>
		</solr_document_types>
	</global>
	<admin>
		<routers>
			<solr>
				<use>admin</use>
				<args>
					<module>DMC_Solr</module>
					<frontName>solr</frontName>
				</args>
			</solr>
		</routers>
	</admin>
	<frontend>
		<routers>
			<solr>
				<args>
					<module>DMC_Solr</module>
					<frontName>solr</frontName>
				</args>
			</solr>
		</routers>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<solr>
											<title>ActiveCodeline Area</title>
										</solr>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>

		<layout>
            <updates>
                <dmc_solr>
                    <file>dmc_solr.xml</file>
                </dmc_solr>
            </updates>
        </layout>
	</adminhtml>
</config>  
